*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
}

.header {
    text-align: center;
    font-size: 2rem;
}

#note-content {
    font-family: inherit;
}